@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Silk Serif", Fallback, sans-serif;
  src: url("./silk-serif-cufonfonts/SilkSerifBlack.otf");
}

@layer base {
  html {
    font-family: "Lato", sans-serif;
  }
  h1 {
    font-family: "Silk Serif", black;
  }

  h2 {
    font-family: "Silk Serif", black;
  }
  h3 {
    font-family: "Silk Serif", black;
    font-size: 1.2rem;
  }
  p {
    font-family: "lato", sans-serif;
    font-size: 0.8rem;
  }
}

.text-box {
  width: 100%;
  overflow: hidden;
  height: 60vh;
}

.links {
  font-family: "Silk Serif", black;
  font-size: 3rem;
}

.line {
  border-top: 1px solid black;
  width: 200vw;
}

@layer components {
  .herobackground {
    background-image: url("img/bg.png");
  }
}
